html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* LAYOUT STYLES */

body {
  background: #fafafa url(../img/body-bg.jpg) 0 0 repeat;
  font: 15px/1.5 'Helvetica Neue','Open Sans',Arial,'Liberation Sans',FreeSans,sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
}

a {
  color: #2879d0;
  text-decoration: none;
}

a:hover {
  color: #2268b2;
}

header, header.default {
  padding-top: 40px;
  background: transparent url(../img/header-bg2.png) 0 0 repeat-x;
  color: white;
  text-shadow: 0 0 5px #295391;
  height:175px;
}

header h1, header.default h1 {
  letter-spacing: -1px;
  font-size: 60px;
  color: #fff;
  line-height: 1;
  margin-bottom: 0.2em;
  width: 540px;
  font-weight:normal;
}

header.default h1 {
  width: 700px;
}

header h2 {
  font-size: 26px;
  color: #9ddcff;
  font-weight: normal;
  line-height: 1.3;
  width: 540px;
  letter-spacing: 0;
}

header img {
  position: absolute;
  top: -30px;
  left: 475px;
  -webkit-box-shadow: 0px 5px #e4e5e9;
   -moz-box-shadow: 0px 5px #e4e5e9;
        box-shadow: 0px 5px #e4e5e9;
}

sup {
  font-size: 0.33em;
}

.inner {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

#content-wrapper {
  padding-top: 30px;
}

.tagline {
  margin-top:80px;
}

#main-content {
  width: 690px;
  float: left;
}

#content {
  margin-right: auto;
  margin-left: auto;
  width: 940px;
}

#main-content img {
  max-width: 100%;
}

aside#sidebar {
  width: 200px;
  padding-left: 20px;
  min-height: 504px;
  float: right;
  background: transparent url(../img/sidebar-bg.jpg) 0 0 no-repeat;
  font-size: 14px;
  line-height: 1.3;
}

aside#sidebar p.repo-owner,
aside#sidebar p.repo-owner a {
  font-weight: bold;
}

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #222;
  margin-bottom: 30px;
  font-size: 13px;
}

code {
  background-color: #f2f8fc;
  border: solid 1px #dbe7f3;
  padding: 0 3px;
}

pre {
  padding: 20px;
  background: #fff;
  text-shadow: none;
  overflow: auto;
  border: solid 1px #f2f2f2;
}

pre code {
  color: #2879d0;
  background-color: #fff;
  border: none;
  padding: 0;
}

ul, ol, dl {
  margin-bottom: 20px;
}


/* COMMON STYLES */

hr {
  background: url(../img/footer.png) no-repeat top center;
  height: 20px;
  border: 0;
}

table {
  width: 100%;
  border: 1px solid #ebebeb;
}

th {
  font-weight: 500;
}

td {
  border: 1px solid #ebebeb;
  text-align: center; 
  font-weight: 300;
}

form {
  background: #f2f2f2;
  padding: 20px;
  
}


/* GENERAL ELEMENT TYPE STYLES */

article p {
  margin-bottom: 5px;
}

article p.date {
  margin-bottom: 1px;
}

.container h1, article h1, #posts h1 {
  font-size: 2.3em;
  letter-spacing: -1px;
  color: #474747;
  margin-bottom: 20px;
  margin-top: 20px;
} 

.container h1:before, article h1:before, #posts h1:before  {
  content: "/";
  color: #295391;
  padding-right: 0.3em;
  margin-left: -0.9em;
}

.container h2, article h2, #posts h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #474747;
} 

.container h2:before, article h2:before, #posts h2:before {
  content: "//";
  color: #295391;
  padding-right: 0.3em;
  margin-left: -1em;
}

.container h3, article h3, #posts h3 {
  font-size: 22px;
  line-height: 40px;
  color: #111;
} 
 
.container h3:before, article h3:before, #posts h3:before {
  content: "///";
  color: #295391;
  padding-right: 0.3em;
  margin-left: -.5em;
}

.container h4 {
  font-size: 14px;
  font-weight: bold;
  color: #474747;
} 

h4:before {
  content: "////";
  color: #295391;
  padding-right: 0.3em;
  margin-left: -.5em;
}

.container h5 {
  font-size: 12px;
  color: #474747;
} 

h5:before {
  content: "/////";
  color: #295391;
  padding-right: 0.3em;
  margin-left: -.5em;
}

.container h6 {
  font-size: .8em;
  color: #474747;
} 

h6:before {
  content: "//////";
  color: #295391;
  padding-right: 0.3em;
  margin-left: -.5em;
}

.tagline h2 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 24px;
  line-height: 40px;
  font-weight: 100;
  color: #000;
}

.tagline h2:before {
  content: "";
  padding-right: 0em;
  margin-left: 0em;
}

p {
  margin-bottom: 20px;
}

p a {
  font-weight: 350;
}

blockquote {
  font-size: 1.6em;
  border-left: 10px solid #e9e9e9;
  margin-bottom: 20px;
  padding: 0 0 0 30px;
}

ul li {
  list-style: disc inside;
  padding-left: 20px;
}

ol li {
  list-style: decimal inside;
  padding-left: 3px;
}

dl dd {
  font-style: italic;
  font-weight: 100;
}

footer {
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 30px;
  color: #444;
}

footer a {
  color: #497fba;
}
footer a:hover {
  color: #444;
}

/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.row-fluid {
  font-size: 16px;
  line-height: 20px;
  font-weight: 200;
  color: #444;
}

.app-icon {
  height:55px;
  width:55px;
}

dl {
  margin: 0;
  padding: 0;
}

dt {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

dd {
  margin: 0;
  padding: 0;
}

.meta-small {
  font-size: 12px;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .inner {
    width: 740px;
  }
  header h1, header h2 {
    width: 340px;
  }
  header h1 {
    font-size: 60px;
  }
  header h2 {
    font-size: 30px;
  }
  #main-content {
    width: 490px;
  }
  #main-content h1:before,
  #main-content h2:before,
  #main-content h3:before,
  #main-content h4:before,
  #main-content h5:before,
  #main-content h6:before {
    content: none;
    padding-right: 0;
    margin-left: 0;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .container {
    width: 93%;
  }
  header {
    padding: 20px 0 0 25px;
  }
  header .inner {
    position: relative;
  }
  header h1, header h2 {
    width: 100%;

  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 24px;
  }
  header a.button {
    background-image: none;
    width: auto;
    height: auto;
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    font-size: 13px;
    line-height: 1;
    background-color: #9ddcff;
    color: #2879d0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;                     
    border-radius: 5px;    
  }
  .tagline h2 {
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 24px;
  }
  .tagline h2:before {
    content: "";
    padding-right: 0em;
    margin-left: 0em;
  }
  header a.button small {
    font-size: 13px;
    display: inline;
  }
  #main-content,
  aside#sidebar {
    float: none;
    width: 100% ! important;
  }
  aside#sidebar {
    background-image: none;
    margin-top: 20px;
    border-top: solid 1px #ddd;
    padding: 20px 0;
    min-height: 0;
  }
  aside#sidebar a.button {
    display: none;
  }
  #main-content h1:before,
  #main-content h2:before,
  #main-content h3:before,
  #main-content h4:before,
  #main-content h5:before,
  #main-content h6:before {
    content: none;
    padding-right: 0;
    margin-left: 0;
  }
  .container h1:before,
  .container h2:before,
  .container h3:before,
  .container h4:before,
  .container h5:before,
  .container h6:before {
    content: none;
    padding-right: 0;
    margin-left: 0;
  }
  .row-fluid img {
    max-width:300px;
  }
  p {
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 24px;
    font-weight: 100;
    padding-top:5px !important;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}