<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Billy Coover" />
    <meta name="copyright" content="CoovTech, LLC" />
    <meta name="description" content="Pay Pad for Stripe" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
    <link href="/stylesheets/general.css" rel="stylesheet">
    <link rel="author" href="https://profiles.google.com/110690218781759841805" />
    <link rel="me" type="text/html" href="http://profiles.google.com/billycoover?rel=me"> 
    <link rel="me" type="text/html" href="http://twitter.com/billycoover">
    <link href="/img/favicon.png" rel="icon" type="image/x-png" />
    <link rel="Shortcut Icon" href="/images/favicon.png" type="image/x-icon" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Delius+Swash+Caps" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{{ page.title }}</title>
  </head>
  <body>

    <div class="container">
      <nav class="navbar">
          <div class="navbar-inner">
              <div class="container">
                  <a href="/" class="brand">Pay Pad for Stripe</a>
                      <ul class="nav">
                          <li><a href="/">Home</a></li>
                          <li class="active"><a href="/theblog">Blog</a></li>
                          <li><a href="/support">Support</a></li>
                          <li><a href="/history">Version History</a></li>
                      </ul>
              </div>
          </div>
      </nav>
      <div class="row">
          <div class="feature span12">
              <h1 class="motto">The official <strong>Pay Pad for Stripe</strong> blog.</h1>
          </div>
      </div>
    </div>

    <div class="container">
      <div class="span12 box drop-shadow">
          <div class="span10 offset1" style="font-size: 1.2em;">
            {{ content }}
          </div>
      </div>
    </div>


    <div class="container">
        <h3 class="subheader">Contact Pay Pad for Stripe</h3>
        <div class="row">
            <div class="span12">
                <p>©&nbsp;2012 CoovTech, LLC.
            Contact <a href="http://coovtech.com/about">Billy Coover</a> for
            <a href="mailto:info@pay-pad.com" > inquiries</a>. Pay Pad for Stripe is built in sunny Scottsdale, AZ.</p>
            
            </div>
        </div>
        <div class="row footer">
            <div class="span12">
                <ul class="links">
                    <li><a href="http://www.twitter.com/getpaypad"><img src="/img/icons/twitter.png" alt="twitter" /></a></li>
                    <li><a href="/theblog">Blog</a></li>
                    <li><a href="/support">Support</a></li>
                    <li><a href="/privacy">Privacy and Terms</a></li>
                    <li><a href="/history">Version History</a></li>
                </ul>           
            </div>
        </div>
    </div>

    <script type="text/javascript">
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/XfK2pAqpQ2n3NvgqoOzZVA.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '50031f81f5a1f5283d0000c6');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>

  </body>
</html>