<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Billy Coover" />
    <meta name="copyright" content="CoovTech, LLC" />
    <meta name="description" content="PayPad for Stripe" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
    <link rel="author" href="https://profiles.google.com/110690218781759841805" />
    <link rel="me" type="text/html" href="http://profiles.google.com/billycoover?rel=me"> 
    <link rel="me" type="text/html" href="http://twitter.com/billycoover">
    <link href="/img/favicon.png" rel="icon" type="image/x-png" />
    <link rel="Shortcut Icon" href="/images/favicon.png" type="image/x-icon" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{{ page.title }}</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>{{ page.title }}</h1>
        <h2>iPad app for the Stripe API</h2>
      </div>
    </header>

    <div id="content-wrapper">

      <div class="inner clearfix">
        <section id="main-content">
          <section id="posts">
            {{ content }}
          </section> 
        </section>

        <aside id="sidebar">

          <p>The official support site for <a href="/">PayPad</a>.</p>

          <p>This site was proudly built with <a href="http://pages.github.com/">GitHub Pages</a>, using the Architect theme by <a href="https://twitter.com/jasonlong">@jasonlong</a>.</p>
          
        </aside>
      </div>
    </div>

    <footer>

     <div style="margin:0px auto; width:50%; text-align: center">
      <a href="/">Home</a> | <a href="/theblog">Blog</a> | <a href="/support">Support</a> | <a href="http://www.twitter.com/getpaypad">Twitter</a>
      <br />

      <div style="font-size: 16px;">
        ©&nbsp;2012 CoovTech, LLC.
        Contact <a href="http://coovtech.com/about">Billy Coover</a> for
        <a href="mailto:info@pay-pad.com" > inquiries</a>. PayPad is built in sunny Scottsdale, AZ.
      </div>

     </div>

    </footer>

    <script type="text/javascript">
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/XfK2pAqpQ2n3NvgqoOzZVA.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>
  </body>
</html>